
<h1>Resources</h1>

<p>This page provides a list of additional resources for users to learn more about data exploration, such as tutorials, books, and online courses.</p>

<ul>
<li><a href="https://www.coursera.org/specializations/data-exploration">Coursera: Data Exploration Specialization</a></li>
<li><a href="https://www.udacity.com/school-of-data-science">Udacity: School of Data Science</a></li>
<li><a href="https://www.datacamp.com/courses/data-exploration">DataCamp: Data Exploration Course</a></li>
</ul>

